body				{background: #999;}

#page-wrap:after 	{content: "Wide Layout";}

nav					{float: left; width: 10%; height: 400px; margin-top:1px;}
nav span				{margin: 0px 100px 0px 0px;}
section.main		{float: right; margin-right: 10px; width:85%; height: 400px; background-color: #d1b3ff;}
section.half1	{float: left; width: 45%; height: 400px; margin-top:1px; margin-left: 1px; background-color: #d1b3ff;}
section.half2	{float: right; width: 42%; height: 400px; margin-top:1px; margin-right: 1px; background-color: #F7E6F6}
footer				{clear: both; display: block;}

.img_aurp			{width: 15%; height: 20%;}
